[SddmGreeterTheme]
Name=Void
Description=Terminal style SDDM login theme
Author=jrtilak
Version=0.1
License=MIT
Website=https://github.com/jrtilak/sddm-theme-void
Email=contact@jrtilak.dev
Copyright=2026, jrtilak
Type=greeter
Preview=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
TranslationsDirectory=.
